* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #c2acce; */
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(223, 217, 226, 1) 35%,
    rgba(83, 128, 131, 1) 100%
  );
}
header {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header div {
  font-size: x-large;
}

ul {
  display: flex;
  list-style-type: none;
}

ul li a {
  padding: 0 20px;
  text-decoration: none;
  color: #2a7f62;
  display: inline-block;
}

/* #oval{
    width: 130px;
    height: 90px;
    background:#dfd9e2;
    border-radius: 100px / 50px;
} */

li a::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  background: #538083;
  transition: all 0.5s;
}
li a:hover::after {
  width: 100%;
}

main {
  display: flex;
  padding: 100px;
  height: calc(100 vh - 100px);
  align-items: center;
  justify-content: center;
}

.container {
  width: 45rem;
  height: 50rem;
  margin: 8% auto;
  background: #dfd9e2;
  border-radius: 5%;
  position: relative;

  overflow: hidden;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #538083;
  font-size: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #538083;
}
h4 {
  padding-right: 12rem;
  margin-bottom: 20px;
  color: #538083;
  font-size: 3rem;
  font-family: "Abril Fatface", cursive;
}
.heading {
  text-align: center;
  /* margin-bottom: 20px; */
  padding-top: 3rem;
  color: #538083;
  font-size: 2rem;
}
.container form {
  width: 280px;
  position: absolute;
  left: 6rem;
  top: 100px;
  left: 200px;
  transition: 0.5s;
  font-size: 10px;
}
form input {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;

  border-bottom: 1px solid #999;
  /* background: transparent;
  outline: none; */
}

::placeholder {
  color: rgb(7, 69, 31);
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}
.btn-box {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

form button {
  width: 100px;
  height: 35px;
  margin: 0 10px;
  background: #538083;

  border: 0;
  outline: none;
  color: black;
  cursor: pointer;
  border-radius: 50%;
}
form h2 {
  margin: 8px;
}

#form2 {
  left: 800px;
}

#form3 {
  left: 800px;
}

.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 120px;
  text-align: center;
  color: black;
  position: relative;
  font-weight: bold;
}

#progress {
  position: absolute;
  height: 100%;
  width: 120px;
  background-color: #538082;
  transition: 1s;
}
#progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid #c2acce;
}
a {
  text-decoration: none;
  color: #2a7f62;
}